.infrastructure__wrapper{
	position: relative;
	.dots{
		position: absolute;
		top: 40%;
		left: 59%;
		.slick-dots{
			width: 8%;
			padding-bottom: 0;
			flex-wrap: wrap;
			li{
				display: block;
			}
			.slick-active:before{
				content: "";
				display: block;
			}
			li:not(.slick-active):after{
				content: "";
				display: block;
				width: 13px;
				height: 13px;
<<<<<<< HEAD
				background-color: #F3E485;
=======
				background-color: #523ee8;
>>>>>>> d1c0dbf718be8dbbb2d21f49e332965888292c19
				opacity: .5;
				border-radius: 50%;
				border: 2px solid #fff;
			}
			.slick-active:before{
				margin-top: 6px;
				left: 6px;
				width: 13px;
				height: 13px;
<<<<<<< HEAD
				border: 2px solid #CBBA4D;
=======
				border: 2px solid #523ee8;
>>>>>>> d1c0dbf718be8dbbb2d21f49e332965888292c19
				background-color: #fff;
				border-radius: 50px;
				z-index: 1;
			}
			.slick-active:after{
				content: "";
				position: absolute;
				display: block;
				top: 12.5px;
				left: calc(-5vw + 3px);
				width: 5vw;
				height: 2px;
<<<<<<< HEAD
				background-color: #CBBA4D;
=======
				background-color: #523ee8;
>>>>>>> d1c0dbf718be8dbbb2d21f49e332965888292c19
			}
			button{
				opacity: 0;
			}
		}
	}
}
@media screen and (max-width: 768px){
	.infrastructure__wrapper{
		padding-left: 30px;
		.dots{
			left: 25px;
			top: 35%;
		}
	}
}